<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Config><UIConfig><HideVersion>false</HideVersion><ShowLaunch>false</ShowLaunch><SkipLaunch>true</SkipLaunch><HideProductLaunch>true</HideProductLaunch><HidePIIScreen>false</HidePIIScreen><ShowInstallOptions>true</ShowInstallOptions><SkipAccLaunch>false</SkipAccLaunch><LaunchProductDetail><ProductInfo></ProductInfo></LaunchProductDetail></UIConfig></Config>